.title
{
	background-color: #3E62AC;
	color: white;
	display: flex;
	width: ;
	height: 140px;
	flex-direction: column;
/*	margin-top: 30px;  */
	
}

.title h1{
	margin: 0px;
	padding: 0px;
}

.title p{
	color: #60C4B7;
}

.summary{
	height: 120px;
	color: #8B8E99;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
/*	background-color: grey;  */
}

.summary-inner{
	width: 400px;
/*	background-color: red; */
	height: 100px;

}