.body
{
    font-family: "Raleway", sans-serif;

}

.space-on-top{
	height: 125px;
/*	background-color: red; */
}

.title
{
	background-color: #3E62AC;
	color: white;
	display: flex;
	width: ;
	height: 140px;
	flex-direction: column;
/*	margin-top: 30px;  */
	
}

.title h1{
	margin: 0px;
	padding: 0px;
}

.title p{
	color: #60C4B7;
}

.title-inner{
	align-items: 
}

.summary{
	height: 120px;
	color: #8B8E99;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
/*	background-color: grey;  */
}

.summary-inner{
	width: 400px;
/*	background-color: red; */
	height: 100px;

}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column-one{
	width: 80%;
	margin-left: 250px;
}

.bronze-league-title-wrapper{
	display: flex;
	justify-content: center;
}

.bronze-league-title{
	margin-top: 20px;
	font-size: 14px;
	background-color: rgba(205, 127, 50, 0.4);
	width: 110px;
	border: 2px solid #e5e5e5;
	border-radius: 16px;

}

.silver-league-title-wrapper{
	display: flex;
	justify-content: center;
}

.silver-league-title{
	font-size: 14px;
	background-color: rgba(192,192,192, 0.4);
	width: 110px;
	border: 2px solid #e5e5e5;
	border-radius: 16px;

}

.gold-league-title-wrapper{
	display: flex;
	justify-content: center;
}

.gold-league-title{
	font-size: 14px;
	background-color: rgba(255,215,0, 0.4);
	width: 110px;
	border: 2px solid #e5e5e5;
	border-radius: 16px;

}

.todos-block-one{
	/*
	border: 2px solid #e5e5e5;
	border-radius: 16px;
	height: 500px;
	width: 500px;
	background-color: red;
	*/
	margin-bottom: 170px;
}

.todos-block-two{
	margin-bottom: 170px;

}


.column-two{

}
.xp-wrapper{
	display: flex;
	justify-content: center;
}

.xp{
/*	border-style: solid; */
	width: 110px;
	border: 2px solid #e5e5e5;
	border-radius: 16px;
	font-size: 17px;
	margin-bottom: 20px;
}

.bronze-league{
	margin-bottom:20px;
}

.achievements-and-friends{
	margin-bottom: 80px;
}