// .Calendar {
//   position: relative;
//   justify-content:flex-end;
//   height: 450px;
//   width:250px;
//   padding-top:185px;
//   padding-left: 105px;
// }

h1 {
  padding-right: 50px;

}

.picture {
  height: 200px;
  width: 120px;
}

.picture img {
  width: 100%;
  height: auto;
}

.bronze {
  height: 400px;
  width: 400px;
}

.outside {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 250px;

}
