.background-image{
  width: 100%;
  height: 50%;
}

.top-header{
  background-image: url("./doctor.png");
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  h1{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
  }
  p{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

}

.gray-header{
  background-color: #f1f1f1!important;
  text-align: left;
  padding: 10px;
}

.text-box{
  width: 50%;
  h1{
    font-family: Verdana,sans-serif;
  }
}