.background-image{
    width: 100%;
    height: 100%;
}

.forum-header{
    background-image: url(celebrateRec.jpg);
    height: 400px;
    h1{
        color: white;
        font-family: "Comic-sans";
        font-size: 60px;
      }
    p{
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        position: relative;
        top: 200px;
    }
}

.RowDiv {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.ColDiv {
    width: 200px;
    height: 320px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.fightIt {
    width: 100px;
    height: 100px;

}

